.book-summary ul.summary li.active>a {
    color: #702da8;
 /*   background: 0 0; */
    text-decoration: none;
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
    font-size: 10px;
}

.book .book-summary .exc-trigger {
       top: 8px;
}



.gitbook-link {
  display: none !important;
}
.summary .divider {
  display: none !important;
}

element.style {
    background: white;
}

.markdown-section h1 h2 {
    color: #702da8;
}

.book.without-animation .book-summary {
  /*   background-color: white; */
}


nav {
    line-height: 50%;
}

.book-summary {
    border-right: 0px solid rgba(0,0,0,.07);
    width: 250px;
}

#book-search-input {
    border-bottom: 0px solid rgba(0,0,0,.07);
}

.book.with-summary .book-body {
    left: 250px;
}

#anchor-navigation-ex-navbar {
      border: 0px solid rgba(0, 0, 0, .07);
      border-radius: 0px;
      box-shadow: 0 0px 0px rgba(0, 0, 0, .175);
      padding: 10px 10px;
      max-height: 100%;
      max-width: 17%;
      right: 30px;
      top: 30px;
      }

#anchorNavigationExGoTop {
    position: 0;
    }

.panel {
  border: 0px solid transparent;
    }

.page-inner {
      max-width: 650px;
    }


#anchor-navigation-ex-navbar ul li a {
  font-size: 8px;
      }

#anchorNavigationExGoTop {
  border: 0px solid rgba(0, 0, 0, .07);
      padding: 0px 0px;
          font-size: 0px;
        }        
  

body {
    font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}

.book.font-family-1 {
    font-family: "Trebuchet MS","Helvetica Neue", Helvetica, Arial, sans-serif;
}

.book-summary {
    font-family: "Trebuchet MS","Helvetica Neue",Helvetica,Arial,sans-serif;
}


.markdown-section table td, .markdown-section table th {
    border: 0px solid #ddd;
}

.markdown-section table tr {
    border-top: 0.5px solid #EDEDED;
}
